<% provide(:title, "About me") %>
<% provide(:page, "about") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-1">About me</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <p class="is-size-5 paragraph">
                    Hello, and thank you for visiting my site. I'm Dennis Cope and I was the co-owner of Trike
                    World Ltd. at 6611 Compton Blvd. Paramount, California during the 70's.
                </p>
                <p class="is-size-5">
                    For those of you that
                    were ever in our factory, you would know we were Ed "Big Daddy" Roth's original V8 trike builders 
                    of the time. With Leon Dailey and myself, we built about 22 of the
                    Roth designs. Many are still on the market today.
                </p>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <%= image_tag("about_images/scan0019-1200x914-comp.jpg", { alt: "V8 trike pulling another V8 trike" }) %>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <p class="is-size-5 paragraph">
                    Leon and I started building trikes using the “Asphalt Angel” body, first designed and fabricated 
                    by Ed Roth. After Ed saw what we were doing with his design, we had his blessing, and he even had us 
                    build frames for his clients. This is how I first became involved with Ed Roth, which led us to building 
                    the Asphalt Angel, and later the California cruiser. Ed only built a couple of these V8 trikes because he 
                    loved the VW trikes and spent much more time with them. 
                </p>
                <p class="is-size-5">
                    In 1971, Leon and I opened our first shop to 
                    build our own V8 trikes, Trike World Limited. We took the Asphalt Angel body and built many different 
                    configurations using its design as a starting point. As you can see, even today my fabrications still 
                    lend themselves to its timeless design. I also believe this shop was the first of its kind anywhere in 
                    the U.S. If any one knows of another V8 trike fabricator of this time period, contact me. I would love 
                    to commiserate with you.
                </p>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <%= image_tag("about_images/scan0023-700x731-comp.jpg", { class: "column", alt: "Asphalt Angel from behind" }) %>
            <%= image_tag("about_images/scan0020-700x699-comp.jpg", { class: "column", alt: "Pink trike" }) %>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
        <p class="is-size-5 paragraph">
            Now living in Bisbee AZ, I'm recreating a time long gone by. If you've ever dreamed 
            about building your own V8 trike, I can help you. I specialize in building rolling 
            chassis for both new and old school Chevys. And yes, Ford lovers, I can build a 
            new school trike chassis just for you. 
        </p>
        <p class="is-size-5">
            I can also build old school trikes like the 
            original Ed "Big Daddy" Roth with the gas tank in the rear covered by the body, as 
            well as my new school design with the gas tank in the front. If you would like me to 
            build you the iconic Asphalt Angel trike, please contact me as I have about a year 
            waiting time line to build a complete trike. I do have an Asphalt Angel kit available at this time.
        </p>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>