<% provide(:title, "Contact") %>
<% provide(:page, "contact") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-1">Contact</h1>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <p class="is-size-5">Please call for information at:</p>
        <p class="is-size-5">(520) 366-1847</p>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/contact_images/scan0015-940x601-comp.jpg",
            alt: "Dennis back in the day") %>
    </div>
</section>