<% provide(:title, "Home") %>
<% provide(:page, "home") %>

<section id="title" class="section">
    <div class="container has-text-centered">
        <h1 class="title is-size-1">Home</h1>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <p class="is-size-5">        
            You could pay $50,000.00 for a Boss Hoss or a V8 chopper trike.
        </p>
        <p class="is-size-5">
            But with my help, you can build your own V8 powered trike.
        </p>

    </div>
</section>
<section>
    <div class="container">
        <div class="columns is-8">
            <div class="column">
                <%= image_tag "/assets/home_images/004-1293-scaled.jpg" %>
            </div>
            <div class="column">
                <%= image_tag "/assets/home_images/20180712_111632_scaled.jpg" %>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <p class="is-size-5">   
            I have an old school Chevy chassis and a new school Ford chassis ready to go.
        </p>
        <p class="is-size-5">
            Many options are available.
        </p>
    </div>
</section