<% provide(:title, "Home") %>
<% provide(:page, "home") %>

<section class="section">
    <div class="container center ">
        <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/misc/trikeworldltd-logo.png",
            style: "max-width: 40rem;", alt: "Trike World Ltd.") %>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <p class="is-size-5 paragraph">        
            You could pay $50,000.00 for a Boss Hoss or a V8 chopper trike.
        </p>
        <p class="is-size-5">
            But with my help, you can build your own V8 powered trike.
        </p>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/home_images/IMG_0101-1200x900-comp.jpg",
            style: "max-width: 1100px", alt: "JR sitting on his rolling chassis") %>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <p class="is-size-5 paragraph">   
            I have an old school Chevy chassis and a new school Ford chassis ready to go.
        </p>
        <p class="is-size-5">
            Many options are available.
        </p>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/home_images/20180712_111632-1200x675-comp.jpg",
            style: "max-width: 1100px", alt: "Early trike chassis mockup") %>
    </div>
</section>