<% provide(:title, "Home") %>
<section class="hero is-large has-bg-img">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white-ter">
                Handmade V8 Trikes
            </h1>
            <h2 class="subtitle has-text-white-ter">
                By Dennis Cope
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h1>This is the Home page for Trike World Ltd.</h1>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-8"
            <h1 class="column is-one-third">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
            </h1>
            <%= image_tag "/assets/20180712_111632_scaled.jpg", { class: "column is-two-thirds" } %>
        </div>
    </div>
</section>
