<% provide(:title, "Log in") %>
<% provide(:page, "login") %>

<section class="section">
    <div class="container">
        <h1 class="title is-size-1 has-text-centered">Log in</h1>
    </div>
</section>