<section class="section">
    <div class="container">
        <h1 class="is-size-1">Profile for <%= @user.name %></h1>
        <h1 class="subtitle is-size-3">Road name: <%= @user.road_name %></h1>
    </div>
</section>
