<% provide(:title, "Home") %>
<div class="opener">
    <%= image_tag "trike/20170715_102550.jpg", alt: "Dennis's Blue V8 Trike" %>

    <h1>Welcome To Trike World Limited</h1>
    <p>Some descriptive text</p>
</div>
<div class="middle">
    <p>Some more descriptions</p>
</div>
<div class="closer">
    <p>Closing text</p>
</div>
