<% provide(:title, "Blog Name") %>
<% provide(:page, "blog") %>

<div class="container">
    <div class="has-text-right">
        <% if logged_in? %>
            <%= render 'posts_navbar' %>
        <% else %>
            <%= link_to("Log in", login_path, class: "button is-link") %>
        <% end %> 
    </div>
</div>

<h1 class="title is-size-1 has-text-centered">Not For Sissies!</h1>
<% if @posts.any? %>
    <ul class="posts">
        <% @posts.each do |post| %>
            <%= render post %>
        <% end %>
    </ul>
<% end %>
<div class="center">
    <div class="column is-7 digg_pagination">
        <%= will_paginate(@posts) %>
    </div>
</div>