<%= provide(:title, "Charles's Build") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Charles's build gallery coming soon.</h1>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("/assets/galleries/charles/IMG_20190521_120955261_scaled.jpg",
            { style: "max-width: 1100px", alt: "Charles's chassis mockup" }) %>
    </div>
</section>