<%= provide(:title, "Charles's Build") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Charles's build gallery coming soon.</h1>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("galleries/charles/IMG_20190521_120955261-1000x750-comp.jpg",
            { alt: "Charles's chassis mockup" }) %>
    </div>
</section>