// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-home-bg-img { 
    background: url('home_images/20161210_144905-1920x670-comp.jpg') center 42%;
    background-size: cover;
}

.has-about-bg-img { 
    background: url('about_images/20170715_102550-1920x670-comp.jpg') center 12%;
    background-size: cover;
}

.has-contact-bg-img {
    background: url('contact_images/20180414_131039-1920x670-comp.jpg') center 28%;
    background-size: cover;   
}

.paragraph {
    margin-bottom: 2rem;
}

.footer-logo {
    width: 40rem;
}

.facebook-footer-logo {
    width: 20rem;
}

.footer-hr {
    background-color: lightgrey;
}