// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.has-home-bg-img { 
    background: url('/assets/home_images/20161210_144905_scaled.jpg') center 40%;
    background-size: cover;
}

.has-about-bg-img { 
    background: url('/assets/about_images/20170715_102550_scaled.jpg') center 15%;
    background-size: cover;
}

.has-contact-bg-img {
    background: url('/assets/contact_images/20180414_131039_scaled.jpg') center 30%;
    background-size: cover;   
}

textarea,
.textarea {
  min-height: inherit;
  height: auto;
}