<% provide(:title, "Red Trike") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Red trike gallery coming soon.</h1>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/galleries/red_trike/20180515_094812_scaled.jpg",
            style: "max-width: 1100px", alt: "Red trike") %>
    </div>
</section>