<% provide(:title, "Roth Body") %>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="subtitle is-size-2">Roth body gallery coming soon.</h1>
    </div>
</section>

<section class="section">
    <div class="container center">
        <%= image_tag("/assets/galleries/roth_body/IMG_20190421_171638363_scaled.jpg",
            { style: "max-width: 1100px", alt: "Side view of Roth body" }) %>
    </div>
</section>