<section id="banner" class="hero is-large has-<%= yield(:page) %>-bg-img">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white-ter"></h1>
            <h2 class="subtitle has-text-white-ter"></h2>
        </div>
    </div>
</section>