<div id="flash-messages" class="container center">
    <ul>
        <% flash.each do |type, message| %>
            <span class="tag is-large is-<%= type %>">
                <li><%= message %></li>
            </span>
        <% end %>
    </ul>
</div>