<footer id="footer" class="footer">
    <div class="content">
        <div class="container">
            <div class="columns">
                <div class="column center">
                    <%= link_to(
                            image_tag("/assets/misc/made-with-bulma-scaled.png", { alt: "Made with Bulma" }),
                        "https://bulma.io", { class: "center" }) %>
                </div>
                <div class="column has-text-centered">
                    <p>
                        Made by <%= link_to("Dennis Cope", "https://coped.dev") %>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>