<footer id="footer" class="footer">
    <div class="content">
        <div class="container has-text-centered">
            <%= image_tag("misc/trikeworldltd-logo.png", class: "footer-logo has-text-centered") %>
            <hr class="footer-hr">
            <div class="columns">
                <div class="column has-text-centered">
                    <%= link_to("Trike World Limited on Blogger", "https://trikeworldlimited.blogspot.com/", class: "button is-large") %>
                </div>
                <div class="column has-text-centered">
                        <%= link_to(
                                image_tag("misc/FindUs-FB-RGB.svg", class: "facebook-footer-logo button is-large"),
                            "https://www.facebook.com/v8trikechoppers") %>
                </div>
            </div>
        </div>
    </div>
</footer>