<footer id="footer" class="footer">
    <div class="content">
        <div class="columns">
            <p class="column has-text-centered">
                Made using the <%= link_to "Bulma CSS framework", "https://bulma.io/" %>.
            </p>
            <p class="column has-text-centered">
                Made by <%= link_to "Dennis Cope", "https://coped.dev" %>.
            </p>
        </div>
    </div>
</footer>