<footer class="footer has-background-black-ter">
    <div class="content">
        <article class="message has-background-grey-dark">
            <div class="message-body">
                <div class="columns has-text-light">
                    <p class="column has-text-centered">
                        Made with <%= link_to "Rails 6.0.0", "https://rubyonrails.org/" %>
                        and the <%= link_to "Bulma", "https://bulma.io/" %> CSS framework.
                    </p>
                    <p class="column has-text-centered">
                        Website developed by <strong><%= link_to "Dennis Cope", "https://coped.dev" %></strong>.
                    </p>
                </div>
            </div>
        </article>
    </div>
</footer>