<footer id="footer" class="footer">
    <div class="content">
        <div class="container has-text-centered">
            <%= image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/misc/trikeworldltd-logo.png",
                class: "footer-logo has-text-centered") %>
                <div class="column has-text-centered">
                        <%= link_to(
                                image_tag("https://trikeworldlimited.s3-us-west-1.amazonaws.com/misc/FindUs-FB-RGB.svg",
                                class: "facebook-footer-logo button is-large"),
                            "https://www.facebook.com/v8trikechoppers") %>
                </div>
            </div>
        </div>
    </div>
</footer>