<footer class="footer has-background-black-ter">
    <div class="content">
        <article class="message has-background-grey-dark">
            <div class="message-body">
                <div class="columns has-text-light">
                    <p class="column has-text-centered">
                        Made using the <%= link_to "Bulma", "https://bulma.io/" %> CSS framework.
                    </p>
                    <p class="column has-text-centered">
                        Made by <%= link_to "Dennis Cope", "https://coped.dev" %>.
                    </p>
                </div>
            </div>
        </article>
    </div>
</footer>