<aside class="menu has-text-light has-text-centered is-hidden-mobile">
    <p class="is-size-3">Galleries</p>
    <p class="menu-label">
        Charles's build
    </p>
    <ul class="menu-list">
        <li><%= link_to image_tag("/assets/home_images/004-1293-scaled.jpg"), galleries_charles_path %>        
    </ul>
</aside>